## Exercise 4: Data Selection and the .loc Method

In [1]:
import numpy as np
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/TrainingByPackt/Big-Data-Analysis-with-Python/master/Lesson01/RadNet_Laboratory_Analysis.csv"
df = pd.read_csv(url)

In [3]:
df['State'].head()

0    ID
1    ID
2    AK
3    AK
4    AK
Name: State, dtype: object

In [4]:
df[df.State == "MN"]

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132,Ba-140.1
367,MN,St. Paul,04-08-2011,03/28/2011,Drinking Water,pCi/l,0.0,0.0,0,0.0,0,0,0,0.0,0.0,0.0,0,NaN
368,MN,St. Paul,04/22/2011,04/13/2011,Drinking Water,pCi/l,0.0,0.0,0,0.0,0,0,0,0.0,0.0,0.0,0,NaN
380,MN,Welch,04-08-2011,03/29/2011,Drinking Water,pCi/l,0.0,0.0,0,0.0,0,0,0,0.0,0.0,0.0,0,NaN
381,MN,Welch,06-01-2011,04/14/2011,Drinking Water,pCi/l,0.0,0.0,0,0.0,0,0,0,0.0,0.0,0.0,0,NaN
555,MN,St. Paul,04-04-2011,03/22/2011,Precipitation,pCi/l,0.0,0.0,0,NaN,0,32,0,0.0,NaN,NaN,0,NaN
556,MN,St. Paul,04-10-2011,03/29/2011,Precipitation,pCi/l,0.0,0.0,0,0.0,0,16,0,0.0,0.0,0.0,0,NaN
557,MN,Welch,04-04-2011,03/17/2011,Precipitation,pCi/l,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
558,MN,Welch/510,04/13/2011,04-04-2011,Precipitation,pCi/l,0.0,0.0,0,0.0,0,9,0,0.0,0.0,0.0,0,NaN

In [5]:
df[(df.State == 'CA') & (df['Sample Type'] == 'Drinking Water')]

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132,Ba-140.1
305,CA,Los Angeles,04-10-2011,04-04-2011,Drinking Water,pCi/l,0.0,0.0,0,0.0,0,0,0,0.0,0.0,0.0,0,NaN
306,CA,Los Angeles,06-01-2011,04-12-2011,Drinking Water,pCi/l,0.0,0.0,0,0.0,0,0,0,0.0,0.0,0.0,0,NaN
356,CA,Richmond,04-09-2011,03/29/2011,Drinking Water,pCi/l,0.0,0.0,0,0.0,0,0,0,0.0,0.0,0.0,0,NaN
357,CA,Richmond,06-01-2011,04/13/2011,Drinking Water,pCi/l,0.0,0.0,0,0.0,0,0,0,0.0,0.0,0.0,0,NaN

In [6]:
df[(df.State == "MN") ]["I-131"]

367     0
368     0
380     0
381     0
555    32
556    16
557     0
558     9
Name: I-131, dtype: int64

In [7]:
df.loc[df.State == "MN", "I-131"]
df[['I-132']].head()

   I-132
0      0
1      0
2      0
3      0
4      0